@{
    Layout = "_Layout";
}
<!doctype html>
<html>
<head>
    <title>Hello People</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2 style="text-align:center">Добро пожаловать, наш юный друг!</h2>
    
    <img src="https://get.wallhere.com/photo/people-team-Person-audience-HBO-Silicon-Valley-social-group-104702.jpg"
         width="600"
    
</body>    

</html>